.menu {
  grid-area: menu;
  font-size: 1.2rem;
  list-style: none;
  display: inline-flex;
}

.main {
  grid-area: main;
  vertical-align: top;
  font-size: 1rem;
}

.menu > a{
  display: inline;
}

.menu > a + a:before {
  content: " | ";
  margin-right: 0.5rem;
}

.menu > a {
  margin-left: 0.5rem;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'menu menu menu menu menu menu'
    'main main main main main main';
  gap: 10px;
  padding: 10px;
}
