<table>
  <thead>
    <tr>
      <td>Key</td>
      <td>value</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let value of values">
        <td>{{value.name}}</td>
        <td><input type="text" [(ngModel)]="value.value" [disabled]="!value.writeable" size="60" (change)="value.modified = true"></td>
    </tr>
  </tbody>
  <tfoot *ngIf="showSaveInput()">
    <tr>
      <td></td>
      <td>
        <input type="submit" value="Save" (click)="saveChanges()"/>
      </td>
    </tr>
  </tfoot>
</table>
